.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    width: 350px;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 3px 4px 22px -3px rgba(34, 60, 80, 0.13);
    -moz-box-shadow: 3px 4px 22px -3px rgba(34, 60, 80, 0.13);
    box-shadow: 3px 4px 22px -3px rgba(34, 60, 80, 0.13);
}
.TasksBlock {
    width: 100%;
}

.FilterBtn{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Active {
    background-color: aquamarine;
}
